---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: code-server
  namespace: kube-system
spec:
  rules:
  - host: "code.{{ inventory_hostname }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: code-server
            port: 
              name: web
  tls:
   - secretName: {{ inventory_hostname }}-tls
