tls:
  certificates:
    - certFile: /etc/certificates/{{ inventory_hostname }}.crt
      keyFile: /etc/certificates/{{ inventory_hostname }}.key
  stores:
    default:
      defaultCertificate:
        certFile: /etc/certificates/{{ inventory_hostname }}.crt
        keyFile: /etc/certificates/{{ inventory_hostname }}.key
  options:
    default:
      minVersion: VersionTLS12
      preferServerCipherSuites: true
      cipherSuites:
        - TLS_AES_256_GCM_SHA384
        - TLS_AES_128_GCM_SHA256
        - TLS_CHACHA20_POLY1305_SHA256
        - TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384
        - TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256
        - TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
