apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ minikube_ca['content'] }}
    server: https://195.201.91.76:8443
  name: {{ ansible_hostname }}
contexts:
- context:
    cluster: {{ ansible_hostname }}
    user: {{ item }}
  name: {{ item }}@{{ ansible_hostname }}
current-context: {{ item }}@{{ ansible_hostname }}
kind: Config
preferences: {}
users:
- name: {{ item }}
  user:
    client-certificate-data: {{ minikube_client_crt['content'] }}
    client-key-data: {{ minikube_client_key['content'] }}