apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ minikube_ca['content'] }}
    server: {{ minikube_url.stdout }}
  name: {{ ansible_hostname }}
contexts:
- context:
    cluster: {{ ansible_hostname }}
    user: workshop
  name: workshop@{{ ansible_hostname }}
current-context: workshop@{{ ansible_hostname }}
kind: Config
preferences: {}
users:
- name: workshop
  user:
    client-certificate-data: {{ minikube_client_crt['content'] }}
    client-key-data: {{ minikube_client_key['content'] }}