---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: traefik-admin-ui
  namespace: kube-system
spec:
  rules:
  - host: "traefik.{{ inventory_hostname }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: traefik
            port: 
              name: admin
  tls:
   - secretName: {{ inventory_hostname }}-tls
